<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ThpsQScriptEd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <ThpsQScriptEd.Properties.Settings>
            <setting name="useTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alwaysLoadSource" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chosenTheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="useShortLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="formSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="formLocation" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="useSymFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="forceTHUG2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="extrenalEditor" serializeAs="String">
                <value/>
            </setting>
            <setting name="editorFont" serializeAs="String">
                <value>Consolas, 9.75pt</value>
            </setting>
            <setting name="enableBackups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="preferSymbolic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="debugbuild" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="releasebuild" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hideScriptsList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scriptWantSpace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="applyCosmetics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minQBLevel" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="useCaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="roundAngles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useDegrees" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="removeTrailNewlines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fixIncorrectChecksums" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scriptsPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="windowState" serializeAs="String">
                <value>0</value>
            </setting>
        </ThpsQScriptEd.Properties.Settings>
    </userSettings>
</configuration>
